#heading {
    font-size: 1.4em;
    background-color: #3f8266;
    border-radius: 6px;
    padding: 2px;
}

.link {
    color: inherit;
    text-decoration: underline;
}

#info-box {
    background-color: #028676;
    margin-bottom: 1em;
    border-radius: 6px;
    text-align: left;
    padding-left: 1em;
}

