.json-textbox{
    background-color: #c7c6c3;
    display: flex;
    flex-direction: column;
    position: relative;
}

.copy-button{
    background-color: #c7c6c3;
    color: black;
    width: 5vw;
    height: 5vh;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0.5rem;
}

.copy-success{
    background-color: #c7c6c3;
    color: black;
    width: 5vw;
    height: 3vh;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 2rem;
    right: 0.5rem;
}

.copy-success-container{
    background-color: #c7c6c3;
}

.payload-text{
    color: black;
}

pre code {
    /* background: #c7c6c3; */
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    /* margin-bottom: 1.6em; */
    white-space: break-spaces;
    overflow: scroll;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
    width: 40vw;
    height: 70vh;
    text-align: left;
  }

  #label-box {
    background: #e5e5e5;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 5px;
    border-radius: 3px 3px 0px 0px; 
}

.label {
    color: black;
    margin: 5px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

