#button-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    background-color: #3f8266;
    margin: 0.3rem;

}

.button:hover {
    border: 1px solid black;
}

.button:active {
    background-color: #e6e6e6;
    color: black;
}


#refresh-button {
    margin-left: 3rem;
}