.infobox-container{
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    background-color: #028676;
    /* width: 60vw;
    height: 15vh; */
    border-radius: 0.5rem;
}

.information-container{
    display: flex;
    flex-direction: column;
    width: 55vw;
    /* background-color: #3f8266; */
    border-radius: 0.5rem;
}

.information-not-configured, .information{
    margin: 0;
    font-size: 0.8rem;
    text-align: left;
}

.information-not-configured{
    padding: 0.5rem 0 0.5rem 0;
}

.info-icon {
    padding: 0.5rem;
}